﻿

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/SiteTemplate/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/SiteTemplate/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <title>Topkala</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="~/SiteTemplate/fonts/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/now-ui-kit.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/plugins/owl.carousel.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/plugins/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper default">
        <div class="container">
            <div class="row">
                <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                    <div class="account-box">
                        <a href="#" class="logo">
                            <img src="~/SiteTemplate/img/logo.png" alt="">
                        </a>
                        <div class="account-box-title">ثبت‌نام در تاپ کالا</div>
                        <div class="message-light">اگر قبلا با ایمیل ثبت‌نام کرده‌اید، نیاز به
                            ثبت‌نام مجدد با شماره
                            همراه ندارید</div>
                        <div class="account-box-content">
                            <form class="form-account">
                                <div class="form-account-title">پست الکترونیک یا شماره موبایل</div>
                                <div class="form-account-row">
                                    <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                    <input class="input-field" type="text"
                                        placeholder="پست الکترونیک یا شماره موبایل خود را وارد نمایید">
                                </div>
                                <div class="form-account-title">کلمه عبور</div>
                                <div class="form-account-row">
                                    <label class="input-label"><i
                                            class="now-ui-icons ui-1_lock-circle-open"></i></label>
                                    <input class="input-field" type="password"
                                        placeholder="کلمه عبور خود را وارد نمایید">
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" checked="checked">
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree">
                                        <a href="#" class="btn-link-border">حریم خصوصی</a> و <a href="#"
                                            class="btn-link-border">شرایط و قوانین</a> استفاده از سرویس های سایت
                                        تاپ کالا را مطالعه نموده و با کلیه موارد آن موافقم.</label>
                                </div>
                                <div class="form-account-row form-account-submit">
                                    <div class="parent-btn">
                                        <button class="dk-btn dk-btn-info">
                                            ثبت نام در تاپ کالا
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="account-box-footer">
                            <span>قبلا در تاپ کالا ثبت‌نام کرده‌اید؟</span>
                            <a href="#" class="btn-link-border">وارد شوید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mini-footer">
            <nav>
                <div class="container">
                    <ul class="menu">
                        <li>
                            <a href="#">درباره تاپ کالا</a>
                        </li>
                        <li>
                            <a href="#">فرصت‌های شغلی</a>
                        </li>
                        <li>
                            <a href="#">تماس با ما</a>
                        </li>
                        <li>
                            <a href="#">همکاری با سازمان‌ها</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <div class="copyright-bar">
                <div class="container">
                    <p>
                        استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق
                        به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
<!--   Core JS Files   -->
<script src="~/SiteTemplate/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/SiteTemplate/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/SiteTemplate/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="~/SiteTemplate/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/SiteTemplate/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="~/SiteTemplate/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Share Library etc -->
<script src="~/SiteTemplate/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="~/SiteTemplate/js/now-ui-kit.js" type="text/javascript"></script>
<!--  CountDown -->
<script src="~/SiteTemplate/js/plugins/countdown.min.js" type="text/javascript"></script>
<!--  Plugin for Sliders -->
<script src="~/SiteTemplate/js/plugins/owl.carousel.min.js" type="text/javascript"></script>
<!--  Jquery easing -->
<script src="~/SiteTemplate/js/plugins/jquery.easing.1.3.min.js" type="text/javascript"></script>
<!-- Main Js -->
<script src="~/SiteTemplate/js/main.js" type="text/javascript"></script>

</html>