﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/SiteTemplate/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/SiteTemplate/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <title>Topkala</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="~/SiteTemplate/fonts/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/now-ui-kit.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/plugins/owl.carousel.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/plugins/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper default shopping-page">
        <!-- header-shopping -->
        <header class="header-shopping default">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center pt-2">
                        <div class="header-shopping-logo default">
                            <a href="#">
                                <img src="~/SiteTemplate/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <ul class="checkout-steps">
                            <li>
                                <a href="shopping.html" class="active">
                                    <span>اطلاعات ارسال</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="shopping-payment.html" class="active">
                                    <span>پرداخت</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="shopping-complete-buy.html" class="active">
                                    <span>اتمام خرید و ارسال</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-shopping -->

        <!-- main-shopping -->
        <main class="cart-page default">
            <div class="container">
                <div class="row">
                    <div class="cart-page-content col-12 order-1">
                        <section class="page-content default">
                            <div class="success-checkout text-center default">
                                <div class="icon-success">
                                    <i class="fa fa-check"></i>
                                </div>
                                <h1>سفارش <a href="#">DKC-22222222</a>با موفقیت در سیستم ثبت شد.</h1>
                                <p>سفارش نهایتا تا یک روز آماده ارسال خواهد شد.</p>
                            </div>
                            <div class="order-info default">
                                <h3>کد سفارش: <span>DKC-22222222</span></h3>
                                <p>سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون <span
                                        class="badge badge-success">تکمیل شده</span> است.جزئیات این سفارش را می توانید
                                    با کلیک بر روی دکمه <a href="#" class="btn-link-border">پیگیری سفارش</a>مشاهده نمایید.</p>
                                <button type="button" class="btn-primary">
                                    پیگیری سفارش
                                </button>
                                <div class="table-responsive default mt-3 mb-3">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">نام تحویل گیرنده : جلال بهرامی راد</th>
                                                <th scope="col">شماره تماس : 09030000000</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">تعداد مرسوله : 1</th>
                                                <td>مبلغ کل : 15390000</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">وضعیت پرداخت : پرداخت آنلاین(موفق)</th>
                                                <td>وضعیت سفارش: در انتظار پرداخت</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">آدرس : استان خراسان شمالی،بجنورد</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!-- main-shopping -->

        <!-- footer -->
        <footer class="main-footer default">
            <div class="back-to-top">
                <a href="#"><span class="icon"><i class="now-ui-icons arrows-1_minimal-up"></i></span> <span>بازگشت به
                        بالا</span></a>
            </div>
            <div class="container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/delivery.svg">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/contact-us.svg">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/payment-terms.svg">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/return-policy.svg">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/origin-guarantee.svg">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">راهنمای خرید از تاپ کالا</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">نحوه ثبت سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه ارسال سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">شیوه‌های پرداخت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">پاسخ به پرسش‌های متداول</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه‌های بازگرداندن کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a href="#">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">با تاپ کالا</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">فروش در تاپ کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">همکاری با سازمان‌ها</a>
                                    </li>
                                    <li>
                                        <a href="#">فرصت‌های شغلی</a>
                                    </li>
                                    <li>
                                        <a href="#">تماس با تاپ کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">درباره تاپ کالا</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                                <form action="">
                                    <input type="email" class="form-control"
                                        placeholder="آدرس ایمیل خود را وارد کنید...">
                                    <input type="submit" class="btn btn-primary" value="ارسال">
                                </form>
                            </div>
                            <div class="socials">
                                <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                                <div class="footer-social">
                                    <a href="#" target="_blank"><i class="fa fa-instagram"></i>اینستاگرام تاپ کالا</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                        </div>
                        <div class="col-12 col-lg-2">شماره تماس: 021-123456789</div>
                        <div class="col-12 col-lg-2">آدرس ایمیل:<a href="#">info@digikala.com</a></div>
                        <div class="col-12 col-lg-4 text-center">
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/bazzar.png" width="159" height="48"
                                    alt=""></a>
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/sibapp.png" width="159" height="48"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container">
                    <div class="row">
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی تاپ کالا، بررسی، انتخاب و خرید آنلاین</h1>
                            <p>
                                تاپ کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در
                                محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                                معتبر جهان، به بزرگ‌ترین فروشگاه
                                اینترنتی ایران تبدیل شود. به محض ورود به تاپ کالا با یک سایت پر از کالا رو به رو
                                می‌شوید! هر آنچه که نیاز دارید و به
                                ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                            </p>
                        </div>
                        <div class="symbol col-12 col-lg-5">
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/symbol-01.png" alt=""></a>
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/symbol-02.png" alt=""></a>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <ul class="footer-partners default">
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/1.svg" alt=""></a>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/2.svg" alt=""></a>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/3.svg" alt=""></a>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/4.svg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>
                        استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق
                        به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer -->
    </div>

</body>
<!--   Core JS Files   -->
<script src="~/SiteTemplate/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/SiteTemplate/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/SiteTemplate/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="~/SiteTemplate/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/SiteTemplate/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="~/SiteTemplate/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Share Library etc -->
<script src="~/SiteTemplate/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="~/SiteTemplate/js/now-ui-kit.js" type="text/javascript"></script>
<!--  CountDown -->
<script src="~/SiteTemplate/js/plugins/countdown.min.js" type="text/javascript"></script>
<!--  Plugin for Sliders -->
<script src="~/SiteTemplate/js/plugins/owl.carousel.min.js" type="text/javascript"></script>
<!--  Jquery easing -->
<script src="~/SiteTemplate/js/plugins/jquery.easing.1.3.min.js" type="text/javascript"></script>
<!-- Main Js -->
<script src="~/SiteTemplate/js/main.js" type="text/javascript"></script>

</html>