﻿<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/SiteTemplate/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/SiteTemplate/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <title>Topkala</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="~/SiteTemplate/fonts/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/now-ui-kit.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/plugins/owl.carousel.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/plugins/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">

    <!-- responsive-header -->
    <nav class="navbar direction-ltr fixed-top header-responsive">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#pablo">
                    <img src="~/SiteTemplate/img/logo.png" height="24px" alt="">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <div class="search-nav default">
                    <form action="">
                        <input type="text" placeholder="جستجو ...">
                        <button type="submit"><img src="~/SiteTemplate/img/search.png" alt=""></button>
                    </form>
                    <ul>
                        <li><a href="#"><i class="now-ui-icons users_single-02"></i></a></li>
                        <li><a href="#"><i class="now-ui-icons shopping_basket"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="logo-nav-res default text-center">
                    <a href="#">
                        <img src="~/SiteTemplate/img/logo.png" height="36px" alt="">
                    </a>
                </div>
                <ul class="navbar-nav default">
                    <li class="sub-menu">
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک</a>
                                    </li>
                                    <li>
                                        <a href="#">هندزفری،هدفون</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#">آیفون اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">ساعت هوشمند</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#">موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li>
                                        <a href="#">HTC</a>
                                    </li>
                                    <li>
                                        <a href="#">LG</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">آرایشی،بهداشت</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک</a>
                                    </li>
                                    <li>
                                        <a href="#">هندزفری،هدفون</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#">آیفون اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">ساعت هوشمند</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#">موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li>
                                        <a href="#">HTC</a>
                                    </li>
                                    <li>
                                        <a href="#">LG</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">خودرو،ابزار و اداری</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی گوشی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف و کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">پاور بانک</a>
                                    </li>
                                    <li>
                                        <a href="#">هندزفری،هدفون</a>
                                    </li>
                                    <li>
                                        <a href="#">پایه نگهدارنده گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">گوشی موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#">آیفون اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">ساعت هوشمند</a>
                            </li>
                            <li>
                                <a href="#">اسپیکر بلوتوث و با سیم</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#">موبایل</a>
                                <ul>
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li>
                                        <a href="#">HTC</a>
                                    </li>
                                    <li>
                                        <a href="#">LG</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">مد و پوشاک</a>
                    </li>
                    <li>
                        <a href="#">خانه و آشپزخانه</a>
                    </li>
                    <li>
                        <a href="#">کتاب،لوازم تحریر</a>
                    </li>
                    <li>
                        <a href="#">ورزش و سفر</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- responsive-header -->

    <div class="wrapper default">

        <!-- header -->
        <header class="main-header default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                            <div class="logo-area default">
                                <a href="#">
                                    <img src="~/SiteTemplate/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-8 col-7">
                            <div class="search-area default">
                                <form action="" class="search">
                                    <input type="text" id="gsearchsimple"
                                        placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                    <ul class="list-group search-box-list">
                                        <li class="list-group-item contsearch">
                                            <a href="#" class="gsearch">
                                                <i class="fa fa-clock-o"></i>
                                                گوشی موبایل
                                            </a>
                                        </li>
                                        <li class="list-group-item contsearch">
                                            <a href="#" class="gsearch">
                                                <i class="fa fa-clock-o"></i>
                                                لپ تاپ
                                            </a>
                                        </li>
                                        <li class="list-group-item contsearch">
                                            <a href="#" class="gsearch">
                                                <i class="fa fa-clock-o"></i>
                                                کفش
                                            </a>
                                        </li>
                                        <li class="list-group-item contsearch">
                                            <a href="#" class="gsearch">
                                                <i class="fa fa-clock-o"></i>
                                                مانتو
                                            </a>
                                        </li>
                                        <li class="list-group-item contsearch">
                                            <a href="#" class="gsearch">
                                                <i class="fa fa-clock-o"></i>
                                                لباس ورزشی
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="localSearchSimple"></div>
                                    <button type="submit"><img src="~/SiteTemplate/img/search.png" alt=""></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="user-login dropdown">
                                <a href="#" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown"
                                    id="navbarDropdownMenuLink1">
                                    ورود / ثبت نام
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="dropdown-item">
                                        <a class="btn btn-info">ورود به تاپ کالا</a>
                                    </div>
                                    <div class="dropdown-item font-weight-bold">
                                        <span>کاربر جدید هستید؟</span> <a class="register" href="#">ثبت‌نام</a>
                                    </div>
                                    <hr>
                                    <div class="dropdown-item">
                                        <a href="#" class="dropdown-item-link">
                                            <i class="now-ui-icons users_single-02"></i>
                                            پروفایل
                                        </a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="#" class="dropdown-item-link">
                                            <i class="now-ui-icons shopping_bag-16"></i>
                                            پیگیری سفارش
                                        </a>
                                    </div>
                                </ul>
                            </div>
                            <div class="cart dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
                                    <img src="~/SiteTemplate/img/shopping-cart.png" alt="">
                                    سبد خرید
                                    <span class="count-cart">2</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="basket-header">
                                        <div class="basket-total">
                                            <span>مبلغ کل خرید:</span>
                                            <span> ۲۳,۵۰۰</span>
                                            <span> تومان</span>
                                        </div>
                                        <a href="#" class="basket-link">
                                            <span>مشاهده سبد خرید</span>
                                            <div class="basket-arrow"></div>
                                        </a>
                                    </div>
                                    <ul class="basket-list">
                                        <li>
                                            <a href="#" class="basket-item">
                                                <button class="basket-item-remove"></button>
                                                <div class="basket-item-content">
                                                    <div class="basket-item-image">
                                                        <img alt="" src="~/SiteTemplate/img/cart/2324935.jpg">
                                                    </div>
                                                    <div class="basket-item-details">
                                                        <div class="basket-item-title">هندزفری بلوتوث مدل S530
                                                        </div>
                                                        <div class="basket-item-params">
                                                            <div class="basket-item-props">
                                                                <span> ۱ عدد</span>
                                                                <span>رنگ مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="basket-submit">ورود و ثبت سفارش</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="main-menu">
                    <div class="container">
                        <ul class="list float-right">
                            <li class="list-item list-item-has-children mega-menu mega-menu-col-5">
                                <a class="nav-link" href="#">کالای دیجیتال</a>
                                <ul class="sub-menu nav">
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="main-list-item nav-link"
                                            href="#">لوازم
                                            جانبی گوشی</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">کیف و کاور گوشی</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پاور بانک</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">هندزفری،هدفون</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پایه نگهدارنده گوشی</a>
                                            </li>
                                            <li class="list-item list-item-has-children">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">گوشی موبایل</a>
                                                <ul class="sub-menu nav">
                                                    <li class="list-item">
                                                        <a class="nav-link" href="#">آیفون اپل</a>
                                                    </li>
                                                    <li class="list-item">
                                                        <a class="nav-link" href="#">هوآوی</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="list-item">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">ساعت هوشمند</a>
                                            </li>
                                            <li class="list-item">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">اسپیکر بلوتوث و با سیم</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="main-list-item nav-link"
                                            href="#">موبایل</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Apple</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">ASUS</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">HTC</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">LG</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Nokia</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Samsung</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Sony</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link" href="#">تبلت
                                            و کتابخوان</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Acer</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Amazon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Apple</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">ASUS</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">HTC</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Samsung</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link"
                                            href="#">دوربین</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Canon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Casio</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Nikon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Sony</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link"
                                            href="#">کامپیوتر و
                                            تجهیزات
                                            جانبی</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">هارد دیسک</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">نمایشگر</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">مادر بورد</a></li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پردازنده</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">کارت گرافیک</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <img src="~/SiteTemplate/img/1636.png" alt="">
                                </ul>
                            </li>
                            <li class="list-item list-item-has-children mega-menu mega-menu-col-5">
                                <a class="nav-link" href="#">آرایشی،بهداشت و سلامت</a>
                                <ul class="sub-menu nav">
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="main-list-item nav-link"
                                            href="#">لوازم
                                            جانبی گوشی</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">کیف و کاور گوشی</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پاور بانک</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">هندزفری،هدفون</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پایه نگهدارنده گوشی</a>
                                            </li>
                                            <li class="list-item list-item-has-children">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">گوشی
                                                    موبایل</a>
                                                <ul class="sub-menu nav">
                                                    <li class="list-item">
                                                        <a class="nav-link" href="#">آیفون اپل</a>
                                                    </li>
                                                    <li class="list-item">
                                                        <a class="nav-link" href="#">هوآوی</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="list-item">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">ساعت
                                                    هوشمند</a>
                                            </li>
                                            <li class="list-item">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">اسپیکر
                                                    بلوتوث و با سیم</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="main-list-item nav-link"
                                            href="#">موبایل</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Apple</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">ASUS</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">HTC</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">LG</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Nokia</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Samsung</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Sony</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link" href="#">تبلت
                                            و کتابخوان</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Acer</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Amazon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Apple</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">ASUS</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">HTC</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Samsung</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link"
                                            href="#">دوربین</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Canon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Casio</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Nikon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Sony</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link"
                                            href="#">کامپیوتر و
                                            تجهیزات
                                            جانبی</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">هارد دیسک</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">نمایشگر</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">مادر بورد</a></li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پردازنده</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">کارت گرافیک</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <img src="~/SiteTemplate/img/1636.png" alt="">
                                </ul>
                            </li>
                            <li class="list-item list-item-has-children mega-menu mega-menu-col-5">
                                <a class="nav-link" href="">خودرو،ابزار و اداری</a>
                                <ul class="sub-menu nav">
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="main-list-item nav-link"
                                            href="#">لوازم
                                            جانبی گوشی</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">کیف و کاور گوشی</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پاور بانک</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">هندزفری،هدفون</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پایه نگهدارنده گوشی</a>
                                            </li>
                                            <li class="list-item list-item-has-children">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">گوشی
                                                    موبایل</a>
                                                <ul class="sub-menu nav">
                                                    <li class="list-item">
                                                        <a class="nav-link" href="#">آیفون اپل</a>
                                                    </li>
                                                    <li class="list-item">
                                                        <a class="nav-link" href="#">هوآوی</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="list-item">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">ساعت
                                                    هوشمند</a>
                                            </li>
                                            <li class="list-item">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i><a
                                                    class="main-list-item nav-link" href="#">اسپیکر
                                                    بلوتوث و با سیم</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="main-list-item nav-link"
                                            href="#">موبایل</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Apple</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">ASUS</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">HTC</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">LG</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Nokia</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Samsung</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Sony</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link" href="#">تبلت
                                            و کتابخوان</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Acer</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Amazon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Apple</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">ASUS</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">HTC</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Samsung</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link"
                                            href="#">دوربین</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Canon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Casio</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Nikon</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">Sony</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-item list-item-has-children">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i><a class="nav-link"
                                            href="#">کامپیوتر و
                                            تجهیزات
                                            جانبی</a>
                                        <ul class="sub-menu nav">
                                            <li class="list-item">
                                                <a class="nav-link" href="#">هارد دیسک</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">نمایشگر</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">مادر بورد</a></li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">پردازنده</a>
                                            </li>
                                            <li class="list-item">
                                                <a class="nav-link" href="#">کارت گرافیک</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <img src="~/SiteTemplate/img/1636.png" alt="">
                                </ul>
                            </li>
                            <li class="list-item">
                                <a class="nav-link" href="#">مد و پوشاک</a>
                            </li>
                            <li class="list-item">
                                <a class="nav-link" href="#">خانه و آشپزخانه</a>
                            </li>
                            <li class="list-item">
                                <a class="nav-link" href="#">کتاب،لوازم تحریر</a>
                            </li>
                            <li class="list-item">
                                <a class="nav-link" href="#">ورزش و سفر</a>
                            </li>
                            <li class="list-item">
                                <a class="nav-link" href="#">وسایل نقلیه و صنعتی</a>
                            </li>
                            <li class="list-item amazing-item">
                                <a class="nav-link" href="#" target="_blank">شگفت‌انگیزها</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </header>
        <div class="overlay-search-box"></div>
        <!-- header -->


      @RenderBody()


        <footer class="main-footer default">
            <div class="back-to-top">
                <a href="#"><span class="icon"><i class="now-ui-icons arrows-1_minimal-up"></i></span> <span>بازگشت به
                        بالا</span></a>
            </div>
            <div class="container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/delivery.svg">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/contact-us.svg">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/payment-terms.svg">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/return-policy.svg">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/SiteTemplate/img/svg/origin-guarantee.svg">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">راهنمای خرید از تاپ کالا</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">نحوه ثبت سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه ارسال سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">شیوه‌های پرداخت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">پاسخ به پرسش‌های متداول</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه‌های بازگرداندن کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a href="#">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">با تاپ کالا</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">فروش در تاپ کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">همکاری با سازمان‌ها</a>
                                    </li>
                                    <li>
                                        <a href="#">فرصت‌های شغلی</a>
                                    </li>
                                    <li>
                                        <a href="#">تماس با تاپ کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">درباره تاپ کالا</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                                <form action="">
                                    <input type="email" class="form-control"
                                        placeholder="آدرس ایمیل خود را وارد کنید...">
                                    <input type="submit" class="btn btn-primary" value="ارسال">
                                </form>
                            </div>
                            <div class="socials">
                                <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                                <div class="footer-social">
                                    <a href="#" target="_blank"><i class="fa fa-instagram"></i>اینستاگرام تاپ کالا</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                        </div>
                        <div class="col-12 col-lg-2">شماره تماس: 021-123456789</div>
                        <div class="col-12 col-lg-2">آدرس ایمیل:<a href="#">info@digikala.com</a></div>
                        <div class="col-12 col-lg-4 text-center">
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/bazzar.png" width="159" height="48"
                                    alt=""></a>
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/sibapp.png" width="159" height="48"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container">
                    <div class="row">
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی تاپ کالا، بررسی، انتخاب و خرید آنلاین</h1>
                            <p>
                                تاپ کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در
                                محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                                معتبر جهان، به بزرگ‌ترین فروشگاه
                                اینترنتی ایران تبدیل شود. به محض ورود به تاپ کالا با یک سایت پر از کالا رو به رو
                                می‌شوید! هر آنچه که نیاز دارید و به
                                ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                            </p>
                        </div>
                        <div class="symbol col-12 col-lg-5">
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/symbol-01.png" alt=""></a>
                            <a href="#" target="_blank"><img src="~/SiteTemplate/img/symbol-02.png" alt=""></a>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <ul class="footer-partners default">
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/1.svg" alt=""></a>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/2.svg" alt=""></a>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/3.svg" alt=""></a>
                                    </li>
                                    <li class="col-md-3 col-sm-6">
                                        <a href=""><img src="~/SiteTemplate/img/footer/4.svg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>
                        استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق
                        به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
<!--   Core JS Files   -->
<script src="~/SiteTemplate/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/SiteTemplate/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/SiteTemplate/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="~/SiteTemplate/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/SiteTemplate/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="~/SiteTemplate/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Share Library etc -->
<script src="~/SiteTemplate/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="~/SiteTemplate/js/now-ui-kit.js" type="text/javascript"></script>
<!--  CountDown -->
<script src="~/SiteTemplate/js/plugins/countdown.min.js" type="text/javascript"></script>
<!--  Plugin for Sliders -->
<script src="~/SiteTemplate/js/plugins/owl.carousel.min.js" type="text/javascript"></script>
<!--  Jquery easing -->
<script src="~/SiteTemplate/js/plugins/jquery.easing.1.3.min.js" type="text/javascript"></script>
<!--  LocalSearch -->
<script src="~/SiteTemplate/js/plugins/JsLocalSearch.js" type="text/javascript"></script>
<!-- Main Js -->
<script src="~/SiteTemplate/js/main.js" type="text/javascript"></script>

</html>